In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
dataset=pd.read_csv('C:\Users\ELCOT\Downloads./statsfinal.csv')
dataset.head()

In [12]:
pwd

'C:\\Users\\ELCOT'

In [17]:
dataset=pd.read_csv('./statsfinal.csv')
dataset.head()

,Unnamed: 0,Date,Q-P1,Q-P2,Q-P3,Q-P4,S-P1,S-P2,S-P3,S-P4
0,0,13-06-2010,5422,3725,576,907,17187.74,23616.50,3121.92,6466.91
1,1,14-06-2010,7047,779,3578,1574,22338.99,4938.86,19392.76,11222.62
2,2,15-06-2010,1572,2082,595,1145,4983.24,13199.88,3224.90,8163.85
3,3,16-06-2010,5657,2399,3140,1672,17932.69,15209.66,17018.80,11921.36
4,4,17-06-2010,3668,3207,2184,708,11627.56,20332.38,11837.28,5048.04

In [18]:
dataset.nunique()

Unnamed: 0    4600
Date          4600
Q-P1          3488
Q-P2          2667
Q-P3          3166
Q-P4          1631
S-P1          3488
S-P2          2667
S-P3          3166
S-P4          1631
dtype: int64

In [19]:
dataset.shape

(4600, 10)

In [20]:
cols_to_use=['Date','Q-P1','S-P1']
dataset=dataset[cols_to_use]
dataset.head()

         Date  Q-P1      S-P1
0  13-06-2010  5422  17187.74
1  14-06-2010  7047  22338.99
2  15-06-2010  1572   4983.24
3  16-06-2010  5657  17932.69
4  17-06-2010  3668  11627.56

In [23]:
dataset.shape

(4600, 3)

In [24]:
dataset.isna().sum()

Date    0
Q-P1    0
S-P1    0
dtype: int64

In [25]:
dataset['Q-P1 ']=dataset ['Q-P1 '].fillna(dataset.Q-P1.mean())
dataset['S-P1']=dataset ['S-P1'].fillna(dataset.S-P1.mean())

KeyError: 'Q-P1 '

In [27]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Date    0
Q-P1    0
S-P1    0
dtype: int64

In [28]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.head()

,Q-P1,S-P1,Date_01-01-2012,Date_01-01-2013,Date_01-01-2014,Date_01-01-2015,Date_01-01-2016,Date_01-01-2017,Date_01-01-2018,Date_01-01-2019,...,Date_31-9-2013,Date_31-9-2014,Date_31-9-2015,Date_31-9-2016,Date_31-9-2017,Date_31-9-2018,Date_31-9-2019,Date_31-9-2020,Date_31-9-2021,Date_31-9-2022
0,5422,17187.74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7047,22338.99,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1572,4983.24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5657,17932.69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3668,11627.56,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
X=dataset.drop('Q-P1',axis=1)
Y=dataset['Q-P1']

In [30]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_Y,test_Y=train_test_split(X,Y,test_size=0.3,random_state=2)

In [31]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(train_X,train_Y)

In [32]:
reg.score(test_X,test_Y)

1.0

In [33]:
reg.score(train_X, train_Y)

1.0

In [34]:
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(train_X,train_Y)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [35]:
lasso_reg.score(test_X,test_Y)

0.999999999990318

In [36]:
lasso_reg.score(train_X,train_Y)

0.9999999999903525

In [37]:
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(train_X,train_Y)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [38]:
ridge_reg.score(test_X,test_Y)

1.0

In [39]:
ridge_reg.score(train_X,train_Y)

1.0